.button-34 {
  background-color: #f9d4d3;
  border: 2px solid #b11b07;
  border-radius: 30px;
  box-shadow: #b11b07 4px 4px 0 0;
  color: #b11b07;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-34:hover {
  background-color: #f9d4d3;
}

.button-34:active {
  box-shadow: #b11b07 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-34 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.button-35 {
  background-color: #ffe3d5;
  border: 2px solid #a75b05;
  border-radius: 30px;
  box-shadow: #a75b05 4px 4px 0 0;
  color: #a75b05;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  background-color: #ffe3d5;
}

.button-35:active {
  box-shadow: #a75b05 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-35 {
    min-width: 120px;
    padding: 0 25px;
  }
}

#note {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: url("../images/cardback.jpg");
  background-size: cover;
  color: rgb(1, 37, 1);
}
